{% extends 'CCDNForumAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_admin.board.delete.layout_template %}

{% block title %}{{- truncDot('title.board.delete'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section class="form-confirmation">

		<h3>{{- 'title.board.delete'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle') -}}</h3>

		<div class="form-question">
			<span class="lead">{{- 'board.delete_confirm' | trans({'%board_name%': board.name }, 'CCDNForumAdminBundle') -}}</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_board_delete_confirmed', {'boardId': board.id }) -}}">
				{{- 'form.button.yes' | trans({}, 'CCDNForumAdminBundle') -}}
			</a>

			<a class="btn" href="{{- path('ccdn_forum_admin_category_index') -}}">
				{{- 'form.button.no' | trans({}, 'CCDNForumAdminBundle') -}}
			</a>
		</div>

	</section>

	{%- endspaceless -%}

{% endblock body_content%}
