{% extends param('ccdn_forum_admin.board.layout_templates.edit') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle') }}{% endblock %}

{% block sidebar %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>

{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_square">
	<div class="section_header">
		<h2>{{ 'title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle') }}</h2>
	</div>
	
	<div class="section_table_panel">
		{% form_theme form param('ccdn_forum_admin.template.theme') %}
		<form action="{{ path('cc_admin_forum_board_edit', {'board_id': board.id}) }}" method="post" {{ form_enctype(form) }}>
			{{ form_row(form._token) }}
			<div class="errors">{{ form_errors(form) }}</div>
			<table class="common_list">
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.category, null, { 'label': 'form.label.board.category'| trans({}, 'CCDNForumAdminBundle') }) }}</td>
						<td class="form_widget">
							{{ form_errors(form.category) }}
							{{ form_widget(form.category) }}
						</td>
					</tr>				
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.name, null, { 'label': 'form.label.board.name'| trans({}, 'CCDNForumAdminBundle') }) }}</td>
						<td class="form_widget">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_label">{{ form_label(form.description, null, { 'label': 'form.label.board.description'| trans({}, 'CCDNForumAdminBundle') }) }}</td>
						<td class="form_widget">
							{{ form_errors(form.description) }}
							{{ form_widget(form.description) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="form_tool_strip" colspan="2">
							<input type="submit" class="widget_submit" value="{{ 'form.button.board.edit'| trans({}, 'CCDNForumAdminBundle') }}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}