{% extends param('ccdn_forum_admin.board.edit.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{- truncDot('title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle'), param('ccdn_forum_admin.seo.title_length')) -}}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{%- include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' -%}

{% endblock %}


{% block body %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	<h2>{{- 'title.board.edit'| trans({'%board_name%': board.name}, 'CCDNForumAdminBundle') -}}</h2>

	{%- form_theme form param('ccdn_forum_admin.board.edit.form_theme') -%}
	<form action="{{- path('cc_admin_forum_board_edit', {'board_id': board.id}) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>
		
			{{- form_errors(form) -}}
		
			<div class="control-group"><div class="controls row-fluid">{{- form_row(form._token) -}}</div></div>
	
			<div class="control-group{{- (form.category.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.category, null, { 'label': 'form.label.board.category'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.category) -}}
					{{- form_widget(form.category) -}}
				</div>
			</div>
		
			<div class="control-group{{- (form.name.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.name, null, { 'label': 'form.label.board.name'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
				{{- form_errors(form.name) -}}
				{{- form_widget(form.name) -}}
				</div>
			</div>
		
			<div class="control-group{{- (form.description.vars.errors|length > 0) ? ' error': '' -}}">
				{{- form_label(form.description, null, { 'label': 'form.label.board.description'| trans({}, 'CCDNForumAdminBundle') }) -}}
				<div class="controls row-fluid">
					{{- form_errors(form.description) -}}
					{%- if param('ccdn_forum_admin.board.edit.enable_bb_editor') -%}
						{%- form_theme form 'CCDNComponentBBCodeBundle:Form:fields.html.twig' -%}
					{%- endif -%}
					{{- form_widget(form.description) -}}
				</div>
			</div>
		
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{{- 'form.button.board.edit'| trans({}, 'CCDNForumAdminBundle') -}}">
			</div>
		
		</fieldset>
	</form>
	
	{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}

	{%- endspaceless -%}

{% endblock %}