{% extends param('ccdn_forum_moderator.post.layout_templates.show_locked') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery.checkboxes.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.post.deleted' | trans({}, 'CCDNForumAdminBundle') }}{% endblock %}

{% block sidebar %}
	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumModeratorBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_topic_deleted_show') }}">{{ 'sidebar.link.topics.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_post_deleted_show') }}">{{ 'sidebar.link.posts.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ 'title.post.deleted' | trans({}, 'CCDNForumAdminBundle') }}</h2>
	</div>
</div>

<div class="section_wrap_standalone">	
	<form method="POST" action="{{ path('cc_admin_forum_post_bulk_action') }}">
	<div class="section_tool_strip">
		<input type="submit" class="button_blue" value="{{ 'link.post.lock' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_lock">
		<input type="submit" class="button_blue" value="{{ 'link.post.unlock' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_unlock">
		<input type="submit" class="button_blue" value="{{ 'link.topic.restore' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_restore">
		<input type="submit" class="button_red" value="{{ 'link.topic.delete' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_delete">
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_post_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	<div class="section_table_panel">
		<table class="common_list">
			<thead>
				<tr>
					<th class="icon"><input type="checkbox" id="check_all" name="check_all"></th>
					<th class="icon"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon"></th>
					<th class="icon"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon"></th>
					<th class="left"><span class="table_header">{{ 'board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.post_number' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.created_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.created_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.locked_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.locked_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.deleted_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.deleted_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
				</tr>
			</thead>
			<tbody>
				{% for row, post in posts %}
					<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
						<td class="icon16">
							<input type="checkbox" id="post_{{ post.id }}" name="check_{{ post.id }}">
						</td>
						<td class="icon16">
							{% if post.getLockedBy %}
							<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class="icon16">
							{% if post.getDeletedBy %}
							<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class="left">
							<span class="table_data">
							<a href="{{ path('cc_forum_topic_show', {'topic_id': post.getTopic.getId }) }}">{{ post.getTopic.getTitle }}</a>
							</span>
						</td>
						<td class="center">
							<span class="table_data">
							<a href="{{ path('cc_forum_post_show', {'post_id': post.getId }) }}">#{{ post.getId }}</a>
							</span>
						</td>

						<td class="center">
							<span class="table_data">
							{% if post.getCreatedBy %}<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getCreatedBy.getUsername }}</a>{% endif %}
							</span>
						</td>
						<td class="center">
							<span class="table_data">
							{% if post.getCreatedDate %}{{ post.getCreatedDate |date("d/m/Y - H:i:s") }}{% endif %}
							</span>
						</td>
						
						<td class="center">
							<span class="table_data">
							{% if post.getLockedBy %}<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getLockedBy.getUsername }}</a>{% endif %}
							</span>
						</td>
						<td class="center">
							<span class="table_data">
							{% if post.getLockedDate %}{{ post.getLockedDate |date("d/m/Y - H:i:s") }}{% endif %}
							</span>
						</td>
						
						<td class="center">
							<span class="table_data">
							{% if post.getDeletedBy %}<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getDeletedBy.getUsername }}</a>{% endif %}
							</span>
						</td>
						<td class="center">
							<span class="table_data">
							{% if post.getDeletedDate %}{{ post.getDeletedDate |date("d/m/Y - H:i:s") }}{% endif %}
							</span>
						</td>
					</tr>
				{% else %}
					<tr>
						<td class="center" colspan="11">
							<span class="table_empty">{{ 'posts.deleted.table.empty' | trans({}, 'CCDNForumAdminBundle') }}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_post_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	</form>
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}