{% extends param('ccdn_forum_admin.post.show_deleted.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery.checkboxes.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.post.deleted' | trans({}, 'CCDNForumAdminBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	<div class="sidebar">
		<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumModeratorBundle') }}</span></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_topic_deleted_show') }}">{{ 'sidebar.link.topics.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
		<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_post_deleted_show') }}">{{ 'sidebar.link.posts.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ 'title.post.deleted' | trans({}, 'CCDNForumAdminBundle') }}</h2>
	</div>
</div>

<div class="section_wrap_standalone">	
	<form method="POST" action="{{ path('cc_admin_forum_post_bulk_action') }}">
	<div class="section_tool_strip">
		<input type="submit" class="button_blue" value="{{ 'link.post.lock' |trans({}, 'CCDNForumAdminBundle') }}" name="submit_lock">
		<input type="submit" class="button_blue" value="{{ 'link.post.unlock' |trans({}, 'CCDNForumAdminBundle') }}" name="submit_unlock">
		<input type="submit" class="button_blue" value="{{ 'link.post.restore' |trans({}, 'CCDNForumAdminBundle') }}" name="submit_restore">
		<input type="submit" class="button_red" value="{{ 'link.post.delete.soft' |trans({}, 'CCDNForumAdminBundle') }}" name="submit_soft_delete">
		<input type="submit" class="button_red" value="{{ 'link.post.delete.hard' |trans({}, 'CCDNForumAdminBundle') }}" name="submit_hard_delete">
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_post_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	<div class="section_table_panel">
		<table class="common_list">
			<thead>
				<tr>
					<th class="icon"><input type="checkbox" id="check_all" name="check_all"></th>
					<th class="icon"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon"></th>
					<th class="icon"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon"></th>
					<th class="left"><span class="table_header">{{ 'board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.post_number' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.created_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.created_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.locked_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.locked_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.deleted_by' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center"><span class="table_header">{{ 'board.table.head.deleted_on' | trans({}, 'CCDNForumForumBundle') }}</span></th>
				</tr>
			</thead>
			<tbody>
				{% for row, post in posts %}
					<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
						<td class="icon16">
							<input type="checkbox" id="post_{{ post.id }}" name="check_{{ post.id }}">
						</td>
						<td class="icon16">
							{% if post.getLockedBy %}
							<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class="icon16">
							{% if post.getDeletedBy %}
							<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class="left">
							{% if post.getTopic %}
							<span class="table_data">
								<a href="{{ path('cc_forum_topic_show', {'topic_id': post.getTopic.getId }) }}" title="{{ post.getTopic.getTitle }}">{{ truncDot(post.getTopic.getTitle, param('ccdn_forum_admin.post.show_deleted.topic_title_truncate')) }}</a>
							</span>
							{% endif %}
						</td>
						<td class="center">
							<span class="table_data">
							<a href="{{ path('cc_forum_post_show', {'post_id': post.getId }) }}">#{{ post.getId }}</a>
							</span>
						</td>

						<td class="center">
							{% if post.getCreatedBy %}
							<span class="table_data">
								<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getCreatedBy.getUsername }}</a>
							</span>
							{% endif %}
						</td>
						<td class="center">
							{% if post.getCreatedDate %}
							<span class="table_timestamp">
								{{ post.getCreatedDate |date(param('ccdn_forum_admin.post.show_deleted.post_created_datetime_format')) }}
							</span>
							{% endif %}
						</td>
						
						<td class="center">
							{% if post.getLockedBy %}
							<span class="table_data">
								<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getLockedBy.getUsername }}</a>
							</span>
							{% endif %}
						</td>
						<td class="center">
							{% if post.getLockedDate %}
							<span class="table_timestamp">
								{{ post.getLockedDate |date(param('ccdn_forum_admin.post.show_deleted.post_locked_datetime_format')) }}
							</span>
							{% endif %}
						</td>
						
						<td class="center">
							{% if post.getDeletedBy %}
							<span class="table_data">
								<a href="{{ path(user_profile_route, {'user_id': post.getDeletedBy }) }}">{{ post.getDeletedBy.getUsername }}</a>
							</span>
							{% endif %}
						</td>
						<td class="center">
							{% if post.getDeletedDate %}
							<span class="table_timestamp">
								{{ post.getDeletedDate |date(param('ccdn_forum_admin.post.show_deleted.post_deleted_datetime_format')) }}
							</span>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td class="center" colspan="11">
							<span class="table_empty">{{ 'posts.deleted.table.empty' | trans({}, 'CCDNForumAdminBundle') }}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_post_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	</form>
</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}