{% extends 'CCDNForumAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_admin.post.show_locked.layout_template %}

{% block title %}{{- truncDot('ccdn_forum_admin.title.post.show_locked' | trans({}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

    {%- spaceless -%}

	<header>
	    <h3>{{- 'ccdn_forum_admin.title.post.show_locked' | trans({}, 'CCDNForumAdminBundle') -}}</h3>
	</header>

	<section>
	    <form method="POST" action="{{- path('ccdn_forum_admin_post_locked_bulk_action') -}}">

		    <div class="btn-toolbar">
		        <div class="span6">
		            <input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.post.lock' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_lock" disabled data-responds-disabled="posts">
		            <input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.post.unlock' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_unlock" disabled data-responds-disabled="posts">
		            <input type="submit" class="btn btn-primary disabled" value="{{- 'ccdn_forum_admin.link.topic.restore' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_restore" disabled data-responds-disabled="posts">
		            <input type="submit" class="btn btn-danger disabled" value="{{- 'ccdn_forum_admin.link.topic.delete_soft' |trans({}, 'CCDNForumAdminBundle') -}}" name="submit_soft_delete" disabled data-responds-disabled="posts">
		        </div>
		        {%- if pager.haveToPaginate -%}
		            <nav class="span6 btn-right paginate">
		                {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_admin_post_locked_show_all_paginated', 'routeParams':{}}) -}}
					</nav>
		        {%- endif -%}
		    </div>

		    <table class="table table-bordered table-striped table-hover table-no-vertical-borders table-compact">
		        <thead>
		            <tr>
		                <th class="center">
							<input type="checkbox" id="check_all" name="check_all" class="hidden" data-compat='interactive-js-compat' data-action-toggle="posts" data-identifier="posts" data-qualifier="all">
						</th>
		                <th class="center"><i class="icon-lock"></i></th>
		                <th class="center"><i class="icon-trash"></i></th>
		                <th class="center">{{- 'ccdn_forum_admin.board.table.head.post_number' | trans({}, 'CCDNForumAdminBundle') -}}</th>
		                <th class="left">{{- 'ccdn_forum_admin.board.table.head.topic_title' | trans({}, 'CCDNForumAdminBundle') -}}</th>
		                <th class="center">{{- 'ccdn_forum_admin.board.table.head.created_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
		                <th class="center">{{- 'ccdn_forum_admin.board.table.head.locked_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
		                <th class="center">{{- 'ccdn_forum_admin.board.table.head.deleted_by' | trans({}, 'CCDNForumAdminBundle') -}}</th>
		            </tr>
		        </thead>
		        <tbody>
		            {%- for row, post in posts -%}
		                <tr>
		                    <td class="center">
		                        <input type="checkbox" id="post_[{{- post.id -}}]" name="check_[{{- post.id -}}]" data-check-all-responds="true" data-identifier="posts">
		                    </td>

		                    <td class="center">
		                        {%- if post.isLocked -%}
			                        <i class="icon-lock"></i>
		                        {%- endif -%}
		                    </td>

		                    <td class="center">
		                        {%- if post.isDeleted -%}
			                        <i class="icon-trash"></i>
		                        {%- endif -%}
		                    </td>

		                    <td class="center">
		                        <a href="{{- path('ccdn_forum_forum_post_show', {'postId': post.getId }) -}}">#{{- post.getId -}}</a>
		                    </td>

		                    <td class="left">
		                        {%- if post.getTopic -%}
		                            <span class="label label-info">{{- post.getTopic.getCachedReplyCount -}}
										&nbsp;
										{{- 'ccdn_forum_admin.board.table.head.reply_count' | trans({}, 'CCDNForumAdminBundle') -}}
									</span>
									&nbsp;
		                            <span class="label label-info">
										{{- post.getTopic.getCachedViewCount -}}
										&nbsp;
										{{- 'ccdn_forum_admin.board.table.head.view_count' | trans({}, 'CCDNForumAdminBundle') -}}
									</span>
									&nbsp;
		                            <a href="{{- path('ccdn_forum_forum_topic_show', {'topicId': post.getTopic.getId }) -}}" title="{{- post.getTopic.getTitle -}}">
										{{- truncDot(post.getTopic.getTitle |capitalize, ccdn_forum_admin.post.show_locked.topic_title_truncate) -}}
									</a>
		                        {%- endif -%}
		                    </td>

		                    <td class="right">
		                        {%- if post.getCreatedBy -%}
		                            {% set author = create_profile(post.getCreatedBy) %}

		                            {{ author.getProfilePath|raw }}
		                        {%- endif -%}

		                        {%- if post.getCreatedDate -%}
		                            {{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
		                            {{- post.getCreatedDate |date(ccdn_forum_admin.post.show_locked.post_created_datetime_format) -}}
		                        {%- endif -%}
		                    </td>

		                    <td class="right">
		                        {%- if post.isLocked -%}
		                            {% set post_locker = create_profile(post.getLockedBy) %}

		                            {{ post_locker.getProfilePath|raw }}
		                        {%- endif -%}

		                        {%- if post.getLockedDate -%}
		                            {{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
		                            {{- post.getLockedDate |date(ccdn_forum_admin.post.show_locked.post_locked_datetime_format) -}}
		                        {%- endif -%}
		                    </td>

		                    <td class="right">
		                        {%- if post.isDeleted -%}
		                            {% set post_deleter = create_profile(post.getDeletedBy) %}

		                            {{ post_deleter.getProfilePath|raw }}
		                        {%- endif -%}

		                        {%- if post.getDeletedDate -%}
		                            {{- 'ccdn_forum_admin.actioned_at' |trans({}, 'CCDNForumAdminBundle') -}}
		                            {{- post.getDeletedDate |date(ccdn_forum_admin.post.show_locked.post_deleted_datetime_format) -}}
		                        {%- endif -%}
		                    </td>

		                </tr>
		            {%- else -%}
		                <tr>
		                    <td class="center" colspan="11">
		                        {{- 'ccdn_forum_admin.posts.locked.table.empty' | trans({}, 'CCDNForumAdminBundle') -}}
		                    </td>
		                </tr>
		            {%- endfor -%}
		        </tbody>
		    </table>

	        {%- if pager.haveToPaginate -%}
		    	<div class="btn-toolbar">
		            <nav class="span12 btn-right paginate">
		                {{- pagerfanta(pager, 'twitter_bootstrap_compact', {'routeName':'ccdn_forum_admin_post_locked_show_all_paginated', 'routeParams':{}}) -}}
		            </nav>
			    </div>
	        {%- endif -%}

	    </form>
	</section>
	
    {%- endspaceless -%}

{% endblock body_content %}
