{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">{{- 'sidebar.header.tools' | trans({}, 'CCDNForumAdminBundle') -}}</li>

	{%- if route == 'cc_admin_forum_category_index' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_category_index') -}}"><i class="icon-white icon-home"></i>&nbsp;{{- 'sidebar.link.manage_boards' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_category_index') -}}"><i class="icon-home"></i>&nbsp;{{- 'sidebar.link.manage_boards' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}

	{%- if route == 'cc_admin_forum_category_create' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_category_create') -}}"><i class="icon-white icon-asterisk"></i>&nbsp;{{- 'sidebar.link.category.create' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_category_create') -}}"><i class="icon-asterisk"></i>&nbsp;{{- 'sidebar.link.category.create' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}

	{%- if route == 'cc_admin_forum_board_create' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_board_create') -}}"><i class="icon-white icon-asterisk"></i>&nbsp;{{- 'sidebar.link.board.create' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_board_create') -}}"><i class="icon-asterisk"></i>&nbsp;{{- 'sidebar.link.board.create' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}

	<li class="divider"></li>

	{%- if route == 'cc_admin_forum_repair_tools' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_repair_tools') -}}"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'sidebar.link.repair' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_repair_tools') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'sidebar.link.repair' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}


	<li class="divider"></li>
	{%- if route == 'cc_admin_forum_topic_deleted_show' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_topic_deleted_show') -}}"><i class="icon-white icon-trash"></i>&nbsp;{{- 'sidebar.link.topics.deleted' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_topic_deleted_show') -}}"><i class="icon-trash"></i>&nbsp;{{- 'sidebar.link.topics.deleted' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}

	{%- if route == 'cc_admin_forum_post_deleted_show' -%}
		<li class="active"><a href="{{- path('cc_admin_forum_post_deleted_show') -}}"><i class="icon-white icon-trash"></i>&nbsp;{{- 'sidebar.link.posts.deleted' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('cc_admin_forum_post_deleted_show') -}}"><i class="icon-trash"></i>&nbsp;{{- 'sidebar.link.posts.deleted' | trans({}, 'CCDNForumAdminBundle') -}}</a></li>
	{%- endif -%}
{%- endspaceless -%}
