{% extends 'CCDNForumAdminBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_admin.category.delete.layout_template %}

{% block title %}{{- truncDot('title.category.delete'| trans({'%category_name%': category.name}, 'CCDNForumAdminBundle'), ccdn_forum_admin.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section class="form-confirmation">

		<h3>{{- 'title.category.delete'| trans({'%category_name%': category.name}, 'CCDNForumAdminBundle') -}}</h3>

		<div class="form-question">
			<span class="lead">{{- 'category.delete_confirm'  | trans({'%category_name%' : category.name }, 'CCDNForumAdminBundle') -}}</span>
		</div>

		<div class="form-answer">
			<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_category_delete_confirmed', {'categoryId': category.id }) -}}">
				{{- 'form.button.yes' | trans({}, 'CCDNForumAdminBundle') -}}
			</a>

			<a class="btn" href="{{- path('ccdn_forum_admin_category_index') -}}">
				{{- 'form.button.no' | trans({}, 'CCDNForumAdminBundle') -}}
			</a>
		</div>

	</section>

	{%- endspaceless -%}

{% endblock body_content%}
