{% extends param('ccdn_forum_admin.category.edit.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.category.edit' | trans({'%category_name%': category.name}, 'CCDNForumAdminBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

	{% include 'CCDNForumAdminBundle:Sidebar:sidebar.html.twig' %}

{% endblock %}


{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	<h2>{{ 'title.category.edit' | trans({'%category_name%': category.name}, 'CCDNForumAdminBundle') }}</h2>

	{% spaceless %}
	<div class="well">
		{% form_theme form param('ccdn_forum_admin.category.edit.form_theme') %}
		
		<form action="{{ path('cc_admin_forum_category_edit', {'category_id': category.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>
				
				<div class="control-group"><div class="controls row-fluid">{{ form_row(form._token) }}</div></div>
			
				<div class="control-group">
					{{ form_label(form.name, null, { 'label': 'form.label.category.name'| trans({}, 'CCDNForumAdminBundle') }) }}
					<div class="controls row-fluid">
						{{ form_errors(form.name) }}
						{{ form_widget(form.name) }}
					</div>
				</div>
				
				<div class="form-actions">
					<input type="submit" class="btn btn-primary" value="{{ 'form.button.category.edit' | trans({}, 'CCDNForumAdminBundle') }}">
				</div>
				
			</fieldset>
		</form>
	</div>
	{% endspaceless %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}