{%- spaceless -%}
<div class="btn-toolbar" style="clear:both;">
	<div class="pull-left">
		<h2>
			<i class="icon-folder"></i>
			<a href="{{- path('cc_forum_category_show', {'category_id': category.id }) -}}">{{- category.name -}}</a>
		</h2>
	</div>
	<div class="pull-right">
		<a class="btn btn-danger" href="{{- path('cc_admin_forum_category_edit', {'category_id': category.getId }) -}}">{{- 'link.category.edit' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('cc_admin_forum_category_delete', {'category_id': category.getId }) -}}">{{- 'link.category.delete' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('cc_admin_forum_board_create_on_category', {'category_id': category.getId }) -}}">{{- 'link.board.add' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('cc_admin_forum_category_move_up_priority', {'category_id': category.getId }) -}}">{{- 'link.item.move_up' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('cc_admin_forum_category_move_down_priority', {'category_id': category.getId }) -}}">{{- 'link.item.move_down' | trans({}, 'CCDNForumAdminBundle') -}}</a>
	</div>
</div>

<div style="clear:both;">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="center" style="width:34px;"></th>
				<th class="left">{{- 'board.table.head.board' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 80px;">{{- 'board.table.head.topic_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 80px;">{{- 'board.table.head.post_count' | trans({}, 'CCDNForumForumBundle') -}}</th>
				<th class="center" style="width: 170px;">{{- 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') -}}</th>
			</tr>
		</thead>
		<tbody>
		{%- for row, board in category.boards -%}
			{%- include "CCDNForumAdminBundle:Category:item_board.html.twig" -%}
		{%- else -%}
			<tr>
				<td class="center" colspan="5">
					{{- 'category.table.empty' | trans({}, 'CCDNForumForumBundle') -}}
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>
</div>
{%- endspaceless -%}
