{%- spaceless -%}
<tr class="{{- cycler(['row_odd', 'row_even'], 'board') }} marked_read">
	<td class="center">
		<img class="icon32" width="32" height="32" src="{{- asset('bundles/ccdncomponentcommon/images/icons/Black/32x32/32x32_board.png') -}}" alt="icon">
	</td>
	<td class="left">
		<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_board_edit', {'boardId': board.getId }) -}}">{{- 'ccdn_forum_admin.link.board.edit' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_board_delete', {'boardId': board.getId }) -}}">{{- 'ccdn_forum_admin.link.board.delete' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_board_priority_move_up', {'boardId': board.getId }) -}}">{{- 'ccdn_forum_admin.link.item.move_up' | trans({}, 'CCDNForumAdminBundle') -}}</a>&nbsp;
		<a class="btn btn-danger" href="{{- path('ccdn_forum_admin_board_priority_move_down', {'boardId': board.getId }) -}}">{{- 'ccdn_forum_admin.link.item.move_down' | trans({}, 'CCDNForumAdminBundle') -}}</a>
		<br>
		<a href="{{- path('ccdn_forum_forum_board_show', {'boardId': board.getId }) -}}">{{- board.getName -}}</a><br>
		<span class="common_body">
			{{- BBCode(board.getDescription | raw, param('ccdn_forum_admin.category.index.enable_bb_parser')) | raw -}}
		</span>
	</td>
	<td class="center">
		{{- board.getCachedTopicCount -}}
	</td>
	<td class="center">
		{{- board.getCachedPostCount -}}
	</td>
	<td class="center">
		{%- if board.getLastPost -%}
			{%- if board.getLastPost.getTopic -%}
				{%- set page = divCeil(( board.getLastPost.getTopic.getCachedReplyCount + 1), topics_per_page) -%}
				{{- 'ccdn_forum_admin.post.posted_by' | trans({}, 'CCDNForumAdminBundle') -}}
				{%- if board.getLastPost.getCreatedBy -%}
					<a href="{{- path(user_profile_route, {'userId': board.getLastPost.getCreatedBy.getId }) -}}">{{- board.getLastPost.getCreatedBy.getUsername |title -}}</a>
				{%- else -%}
					Guest
				{%- endif -%}
				<br>{{- 'ccdn_forum_admin.actioned_at' | trans({}, 'CCDNForumAdminBundle') -}}<a href="{{- path('ccdn_forum_forum_topic_show_paginated', {'topicId': board.getLastPost.getTopic.getId, 'page':page }) -}}#{{- board.getLastPost.getId -}}">{{- board.getLastPost.getCreatedDate |date(param('ccdn_forum_admin.category.index.last_post_datetime_format')) -}}</a>
			{%- else -%}
				{{- 'ccdn_forum_admin.info.not_applicable' | trans({}, 'CCDNForumAdminBundle') -}}
			{%- endif -%}
		{%- else -%}
			{{- 'ccdn_forum_admin.info.not_applicable' | trans({}, 'CCDNForumAdminBundle') -}}
		{%- endif -%}
	</td>
</tr>
{%- endspaceless -%}
