<div class="section_wrap_standalone">	
	<div class="section_tool_strip">
		<div class="float_left">
			<h2>
				<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_category.png') }}" alt="icon">
				<a href="{{ path('cc_forum_category_show', {'category_id': category.id }) }}">{{ category.name }}</a>
			</h2>
		</div>
		<div class="float_right">
			<a class="button_red" href="{{ path('cc_admin_forum_category_edit', {'category_id': category.getId }) }}">{{ 'link.category.edit' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_red" href="{{ path('cc_admin_forum_category_delete', {'category_id': category.getId }) }}">{{ 'link.category.delete' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_red" href="{{ path('cc_admin_forum_board_create_on_category', {'category_id': category.getId }) }}">{{ 'link.board.add' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_red" href="{{ path('cc_admin_forum_category_move_up_priority', {'category_id': category.getId }) }}">{{ 'link.item.move_up' | trans({}, 'CCDNForumAdminBundle') }}</a>
			<a class="button_red" href="{{ path('cc_admin_forum_category_move_down_priority', {'category_id': category.getId }) }}">{{ 'link.item.move_down' | trans({}, 'CCDNForumAdminBundle') }}</a>
		</div>
	</div>
	<div class="section_table_panel">
		<table class="common_list">
			<thead>
				<tr>
					<th class="center"></th>
					<th class="left"><span class="table_header">{{ 'board.table.head.board' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 80px;"><span class="table_header">{{ 'board.table.head.topic_count' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 80px;"><span class="table_header">{{ 'board.table.head.post_count' | trans({}, 'CCDNForumForumBundle') }}</span></th>
					<th class="center" style="width: 170px;"><span class="table_header">{{ 'board.table.head.last_post' | trans({}, 'CCDNForumForumBundle') }}</span></th>
				</tr>
			</thead>
			<tbody>
			{% for row, board in category.boards %}
				{% include "CCDNForumAdminBundle:Category:item_board.html.twig" %}
			{% else %}
				<tr>
					<td class="center" colspan="4">	
						<span class="table_empty">{{ 'category.table.empty' | trans({}, 'CCDNForumForumBundle') }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>