{% extends param('ccdn_forum_moderator.topic.layout_templates.show_closed') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery.checkboxes.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.topic.deleted' | trans({}, 'CCDNForumAdminBundle') }}{% endblock %}

{% block sidebar %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
	</div>

	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumModeratorBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_topic_deleted_show') }}">{{ 'sidebar.link.topics.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_post_deleted_show') }}">{{ 'sidebar.link.posts.deleted' | trans({}, 'CCDNForumAdminBundle') }}</a></div>
	</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ 'title.topic.deleted' | trans({}, 'CCDNForumAdminBundle') }}</span>
	</div>
	<form method="POST" action="{{ path('cc_admin_forum_topics_bulk_action') }}">
	<div class="common_tool_strip">
		<input type="submit" class="widget_submit" value="{{ 'link.topic.close' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_close">
		<input type="submit" class="widget_submit" value="{{ 'link.topic.reopen' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_reopen">
		<input type="submit" class="widget_submit" value="{{ 'link.topic.restore' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_restore">
		<input type="submit" class="widget_submit" value="{{ 'link.topic.delete' |trans({}, 'CCDNForumModeratorBundle') }}" name="submit_delete">
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_topic_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	<div class="common_box_panel">
		<table class="common_list">
			<thead>
				<tr>
					<th style="width: 18px; vertical-align: middle; text-align: center;"><input type="checkbox" id="check_all" name="check_all"></th>
					<th></th>
					<th style="width: 18px; vertical-align: middle; text-align: center;"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon"></th>
					<th style="width: 18px; vertical-align: middle; text-align: center;"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon"></th>
					<th>{{ 'board.table.head.topic_title' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.reply_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.view_count' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.closed_by' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.closed_on' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.deleted_by' | trans({}, 'CCDNForumForumBundle') }}</th>
					<th>{{ 'board.table.head.deleted_on' | trans({}, 'CCDNForumForumBundle') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for row, topic in topics %}
					<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
						<td class"h_align_centre v_align_middle">
							<input type="checkbox" id="topic_{{ topic.id }}" name="check_{{ topic.id }}">
						</td>
						<td class="h_align_centre v_align_middle">
							<a href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_communication.png') }}" alt="icon"></a>
						</td>
						<td class"h_align_centre v_align_middle">
							{% if topic.getClosedBy %}
							<img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_locked.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class"h_align_centre v_align_middle">
							{% if topic.getDeletedBy %}
							<img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_trash.png') }}" alt="icon">
							{% endif %}
						</td>
						<td class="padding_5 h_align_left v_align_top">
							<a class="topic_link" href="{{ path('cc_forum_topic_show', {'topic_id': topic.getId }) }}">{{ topic.getTitle }}</a><br>
							<span class="first_post">
							{{ 'post.posted_by' | trans({}, 'CCDNForumForumBundle') }}
							{% if topic.getFirstPost %}
								{% if topic.getFirstPost.getCreatedBy %}
									{% if topic.getFirstPost %}
									<a class="username_medium" href="{{ path(user_profile_route, {'user_id': topic.getFirstPost.getCreatedBy.getId } ) }}">{{ topic.getFirstPost.getCreatedBy }}</a>
									{% else %}
									Guest
									{% endif %}
								{% endif %}
							{% endif %}
							</span>&nbsp;&nbsp;
						</td>
						<td class="h_align_left v_align_middle">
							<span class="stat_label">{{ 'board.table.body.reply_count' | trans({}, 'CCDNForumForumBundle') }}</span>&nbsp;<span class="stat">{{ topic.getReplyCount }}</span><br>
						</td>
						<td class="h_align_left v_align_middle">
							<span class="stat_label">{{ 'board.table.body.view_count' | trans({}, 'CCDNForumForumBundle') }}</span>&nbsp;<span class="stat">{{ topic.getViewCount }}</span>
						</td>

						<td class="padding_5 h_align_left v_align_top">
							{% if topic.getClosedBy %}<a href="{{ path(user_profile_route, {'user_id': topic.getClosedBy.getId }) }}">{{ topic.getClosedBy.getUsername }}</a>{% endif %}
						</td>
						<td class="padding_5 h_align_left v_align_top">
							{% if topic.getClosedDate %}{{ topic.getClosedDate |date("d/m/Y - H:i:s") }}{% endif %}
						</td>

						<td class="padding_5 h_align_left v_align_top">
							{% if topic.getDeletedBy %}<a href="{{ path(user_profile_route, {'user_id': topic.getDeletedBy.getId }) }}">{{ topic.getDeletedBy.getUsername }}</a>{% endif %}
						</td>
						<td class="padding_5 h_align_left v_align_top">
							{% if topic.getDeletedDate %}{{ topic.getDeletedDate |date("d/m/Y - H:i:s") }}{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td class="h_align_centre v_align_middle" colspan="11">
							{{ 'topics.closed.table.empty' | trans({}, 'CCDNForumModeratorBundle') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
	    {{ pagerfanta(pager, 'default', {'routeName':'cc_admin_forum_topic_deleted_show_paginated', 'routeParams':{}} ) }}
	</div>
	{% endif %}
	</form>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}


{% endblock %}